<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="apps">
	  <input type="text" v-model="newuser">
      <input type="submit" value="add">
      <ul v-for="(user,index) in users">
        <li>{{user.name}}
        <button v-on:click="editUser(index)">Edit</button> ||
        <button v-on:click="deleteUser(index)">Delete</button>
        </li>
    </ul>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
   let app = new Vue({
      el: '#apps',
	    data: {
            addUser: '',
            users: [
                {
                    'name' : 'Muhammad Iqbal Mubarok'
                },
                {
                    'name' : 'Ruby Purwanti'
                },
                {
                    'name' : 'Faqih Muhammad'
                },
            ],
	    },
        methods:{
            addUser: function(){
                var text = this.newuser.trim()
                if (text){
                    this.users.push({text})
                    this.newuser = ''
                }
            },
             deleteUser(index){
                this.users.splice(index, 1)
            },
        }
	  });
  </script>
</body>
</html>
</script>