<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="apps">
	  <input type="text" v-model="cari">
		  <li>{{ users}}</li>
	  </ul>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
   var app = new Vue({
      el: '#apps',
	    data: {
		    users : [
                {
                    'name' : 'Muhammad Iqbal Mubarok',   
                },
                {
                    'name' : 'Ruby Purwanti', 
                },
                {
                    'name' : 'Faqih Muhammad',
                },
            ],
        }
	});
  </script>
</body>
</html>
</script>