<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <h2 v-html="message"></h2>
    <!--    <p v-once>{{message}}</p> -->
    <!--    <p>{{ message }}</p> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: '<span style="color:green">Hello Bandung!</span>'
            }
        })
    </script>
</body>
</html>

users : [
    {
        'name' : 'Muhammad Iqbal Mubarok',   
    },
    {
       'name' : 'Ruby Purwanti', 
    },
    {
        'name' : 'Faqih Muhammad',
    },
],