<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <input type="text" name="title" :value="title" @input="handleInput($event)"> -->
        <input type="text" v-model.lazy="title">
        {{title}}
    </div>

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                title : 'Belajar Vue JS'
            },
            methods : {
                handleInput : function(e){
                    this.title = e
                    

                }
            }
        })
    </script>
</body>
</html>