<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directive Vue Js</title>
</head>
<body>
    <h2>halo</h2>
    <div id="app">{{name}}</div>
    <div id="app">'nama saya aisyah'</div>
    <p v-html="p"></p>
    <p v-once>Nama saya: {{name}}</p>
    <button v-on:click="switchLamp">Switch Lamp</button>
    <p v-show="lampIsOn">Lampu sedang menyala</p>
    <p v-text="p"></p>
    <p v-if="angka>5">Angka lebih dari 5</p>
</body>
</html>

<script src="https://cdn.jsdelivr.net.npm/vue@2.js"></script>

<script>
    let vm = new vue({
        el: '#app',
        data: {
            name: 'Kang Dede',
            p: '<p>Ini adalah paragraf</p>'
            lampIsOn: false,
            angka: 0,
        },
        methods: {
            switchLamp: function(){
                this.lampIsOn = true
                this.lampIsOn = !this.lampIsOn
            }
        }
    })
</script>