<template>
  <div class="home">
    <div>
      <b-jumbotron text-variant="dark" class="jumbotron">
        <h4 class>Selamat Datang Di</h4>
        <h1 class="display-5 m-5">
          Sistem Pendataan Bantuan Sosial Komplek Panghegar
        </h1>
        <h5>
          Guna memastikan bantuan tersalurkan kepada orang yang tepat, proses
          verifikasi dapat dilakukan dengan mudah, dan data yang masuk bersifat
          valid, dibutuhkan sejumlah data yang wajib dilaporkan.
        </h5>
        <router-link to="/formInputData" class="mr-2 ml-3">
          <b-button pill variant="success" class="buttonHome"
            >Formulir</b-button
          >
        </router-link>
      </b-jumbotron>
    </div>
  </div>
</template>

<style>
.home {
  background-image: url("/src/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.jumbotron {
  background-color: transparent;
  padding-top: 100px;
}
.buttonHome:hover {
  transform: translate(5px, 5px);
  transition: 0.2s;
  box-shadow: 0px 0px 5px #42b983;
}
h1 {
  font-weight: bolder;
}
p {
  font-size: 1.5rem;
  margin: 10px auto;
}
</style>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Home",
  props: {
    msg: String,
  },
};
</script>
