<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axios</title>
    <style>
        img {
            width: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- Error message-->
        <div v-if="errors.length>0">
            <h5>Error :</h5>
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </div>
        <!-- Error message-->
        <form v-on:submit.prevent="submitForm()">
            <table>
                <tr>
                    <td>Nama:</td>
                    <td><input type="text" v-model="form.name" /></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" v-model="form.address"/></td>
                </tr>
                <tr>
                    <td>No HP:</td>
                    <td><input type="text" v-model="form.no_hp" /></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
            <div v-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo"/>
                <button @click="submitFoto()">Upload</button>
            </div>
        </form>

        <!--Tabel Member-->
        <table border="1">
            <thead>
                <tr>
                    <td>Foto</td>
                    <td>Nama</td>
                    <td>Alamat</td>
                    <td>No hp</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(member, index) in members" :key="index">
                    <td>
                        <img v-if="member.photo_profile != null" :scr="url+member.photo_profile" alt="" srcset="">
                        <img v-else src="https://dummyimage.com/600x400/000/fff" alt="" />
                    </td>
                    <td>{{member.name}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.no_hp}}</td>
                    <td>
                        <button @click="edit(member)">Edit</button>
                        <button @click="hapus(member.id)">Hapus</button>
                        <button @click="uploadPhoto(member)">Upload Photo</button>
                    </td>
                </tr>
            </body>
        </table>
        <!--Tabel Member-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></Script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data : {
                url: 'http://demo-api-vue.sanbercloud.com',
                form: {
                    id: '',
                    name : '',
                    address : '',
                    no_hp : '',
                },
                members: [],
                errors: [],
                buttonStatus : 'submit',
            },
            created(){
                this.getMembers()
            },
            methods: {
                clearForm: function(){
                    this.form.name = ''
                    this.form.address = ''
                    this.form.no_hp = ''
                },
                validationForm: function(){
                    if(this.form.name.length <5){
                        this.errors.push('Nama harus lebih dari 5 karakter')
                    }
                    if(this.form.address.length <5){
                        this.errors.push('Address harus lebih dari 5 karakter')
                    }
                    if (this.form.no_hp.length <5){
                        this.errors.push('No Hp harus lebih dari 5 karakter')
                    }
                },
                submitForm : function(){
                    this.validationForm()

                    if(this.errors.length == 0){
                        let formData = new FormData()
                        formData.append('name', this.form.name)
                        formData.append('address', this.form.address)
                        formData.append('no_hp', this.form.no_hp)
                        

                        const config = {
                            method: 'post',
                            url:'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData, 
                        }

                        axios(config)
                        .then((response) =>{
                            this.clearForm()
                            alert(response.data.message)
                            this.getMembers()
                        })
                        .catch((error) =>{
                            console.log(error)
                        })
                    }
                },
                getMembers: function(){
                    const config={
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                    }

                    axios(config)
                    .then((response) =>{
                        this.members = response.data.members
                    })
                    .catch((error)=>{
                        console.log(error)
                    })
                },
                uploadPhoto: function(member){
                    this.buttonStatus = 'upload'
                    this.form.id = member.id
                    this.form.name = member.name
                    this.form.address = member.address
                    this.form.no_hp = member.no_hp
                },
                submitFoto: function(){
                    let file = this.$refs.photo.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)
                    const config={
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`,
                        data: formData,
                    }
                    axios(config)
                    .then((response) =>{
                        this.clearForm()
                        this.buttonStatus = 'submit'
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch((error)=>{
                        console.log(error)
                    })
                },
                hapus: function(id){
                    const config = {
                        method: 'post',
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "HAPUS"},
                    }
                    axios(config)
                    .then((response)=>{
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch((error)=>{
                        console.log(error)
                    })
                },
                edit: function(){
                    this.name=member.name
                    this.address=member.address
                    this.buttonStatus = 'update'
                },
            },
        })
    </script>
</body>
</html>