<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tugas Component</title>

</head>

<body>
    <div id="app"> 
        <div class="formInput">

            <input type="text" v-model="formUser">

            <button v-if="!editButton" @click="addUser">

                Add</button>

            <button v-if="editButton" @click="updateUser">
                Update</button>

        </div>

        <div id="app">
            <component :is="currentComponent"></component>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
 
    <script type = "module">
        
        import { index } from './Component/index.js'

        const vm = new Vue({
            el: '#app',
            components : {
            'user-list' : index,
            },
            data : {
                currentComponent : 'user-list'
            }
        })

</script>

</body>

</html>