<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <div class="formInput">

            <input type="text" v-model="formUser">

            <button v-if="!editButton" @click="addUser">

                Add</button>

            <button v-if="editButton" @click="updateUser">

                Update</button>

        </div>
        <users-component
            v-for="(user , index) in reverseUsers" 
            :key="index"
            :user="user">
        </users-component>
    </div>    
    <users-list></users-list>
    <template id ='users-list'>
        <h1></h1>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component ('user-list', {
            template : '#user-list'
        })
        let vm = new Vue({
            el: '#app',
            data : {
                users: [
                        { name: 'Muhammad Iqbal Mubarok' },
                        { name: 'Ruby Purwanti' },
                        { name: 'Faqih Muhammad' }, 
                ]
            }
        })
    </script>
    <users-list>
        <template v-slot:name="slot">
            {{slot.users[0].name}}
        </template>
    </users-list>
    <script>
        var UsersComponent = {
            template : 
            `<div>
                <ul>
                    <li>
                        <slot name="name" v-bind:users="users"> {{ users[0].name}} </slot>
                        ||
                        <button>Edit</button>
                        <button>Delete</button>
                    </li>
                </ul>
            </div>`,
                data (){
                    return{
                        users:[
                        { name: 'Muhammad Iqbal Mubarok' },
                        { name: 'Ruby Purwanti' },
                        { name: 'Faqih Muhammad' }, 
                    ],
                }
            },
        }
    </script>
</body>
</html>