<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="apps">
	  <input type="text" v-model="cari" placeholder="ketikkan kata kunci">
	  <ul>
		  <li v-for="(book, index) in filterBooks" :key="index">{{ book }}</li>
	  </ul>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
   let app = new Vue({
      el: '#apps',
	    data: {
		    books: [
                  'Kalkulus Dasar',
                  'Fisika Dasar',
                  'Aljabar Linier Elementer',
                  'Aljabar Abstrak',
                  'Algoritma Pemrograman'
		           ],
				   cari: '',    
	    },
      computed : {
		    filterBooks: function(){
				let newBooks = this.books.filter( (el) =>{
					return el.toLowerCase().includes(this.cari.toLowerCase)
				})
				return newBooks

			}
		  }
	  })
  </script>
</body>
</html>