<template>
  <div id="app">
    <!-- Navbar -->
    <div>
      <b-navbar toggleable="lg" type="light" variant="light">
        <router-link to="/">
          <b-navbar-brand>
            <h2 class="title">PENDATAAN BANSOS JABAR</h2>
          </b-navbar-brand>
        </router-link>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
              <router-link to="/" class="mr-2 ml-3">
                <div class="d-flex justify-content-center">
                  <b-icon icon="house-door-fill" class="my-1 mx-2"></b-icon>
                  <h5><strong>Home</strong></h5>
                </div>
              </router-link>
              <router-link to="/formInputData" class="mr-2 ml-3">
                <div class="d-flex justify-content-center">
                  <b-icon icon="person-lines-fill" class="my-1 mx-2"></b-icon>
                  <h5><strong>Formulir Input Data</strong></h5>
                </div>
              </router-link>
            </b-navbar-nav>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>

    <!-- Router View -->
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e70;
  background-color: #c2f0db;
}
nav a {
  font-weight: bold;
  color: #2c3e70;
}
nav a {
  color: #00080a;
}
nav a:hover {
  color: #00080a;
}
nav a:active {
  color: #00080a;
}
.title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #00080a;
  text-shadow: 4px 4px 4px #ddd;
}
button:hover {
  box-shadow: 0px 0px 5px #00080a;
}
</style>